<center>
    <div class="card">
        <div class="card-body">
            <h1>Acerca de este proyecto</h1>
            <hr>
            <h5>Criptografia - Grupo 063</h5>
            <h5>Docente: Alejandro Muniz Solorio</h5>
            <hr>
            <p>Elian Javier Hernandez Sanchez 1958713</p>
            <p>Irvin Martinez Gonzalez 1952000</p>
            <p>Angel Ulises Martinez Bautista 2076416</p>
            <p>Juan Escobedo Cantu 1955793</p>
            <p>Pedro Escobedo Cantu 1955731</p>
            <p>Carlos Noe Rivera Yepez 2076488</p>
            <hr>
            <h4>CryptoParler</h4>
        </div>
    </div>
</center>