{{!-- Generar llaves --}}
<center>
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <br><h2>IMPORTANTE!</h2><br>
                <p>Debes descargar los siguientes archivos para poder usar la App</p>
                <hr>
                <h6>Nota: Solo es necesario descargarlos 1 vez</h6>
            </div>
            <div class="card-body">
                <section>
                    <h3>Par de llaves:</h3>
                    <hr>
                    <a href="privateKey.txt" download>Download private Key</a>
                    <a href="publicKey.txt" download>Download public Key</a>
                    <hr>
                    <h3>Llave personal para firmar mensajes:</h3>
                    <hr>
                    <a href="keyForSign.txt" download>Download key for sign messages</a>
                    <hr>
                </section>
            </div>
            {{!-- <div class="form-group">
                <section>
                    <p class="lead">or</p>
                </section>
            </div>
            <div class="form-group">
                <section>
                    <div class="form-group">
                        <label>
                            Upload security key
                        </label>
                        <div class="form-control">
                            <div id="KeyUploadDiv" class="file is-boxed is-black">
                                <label>
                                    <input class="file-input" type="file" name="keyUpload" id="keyUpload" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </div> --}}
        </div>
    </div>
</center>
