{{!-- INGRESAR --}}
<center>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Account Login</h3>
                </div>
                <img src="/images/tuxDrip.png" sizes="auto" class="rounded-circle mx-auto d-block m-4" alt="Logo">
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>